.inputContainer{
    border-bottom-width : 2px;
    border-color:black;
    border-radius:10px;
    padding:0px 10px;
    margin:0px 20px;


}
.selectTxt{
  font-size:20px;
  color:blue;
}

.textDrop{
    font-size:16px;
    width:250px;
    padding:30px 0 ;
    padding:3px 0;
    color:white
   
   
   
}
.dataContainer{
    position:relative;
    left:50px;
    top:-20px;
    width:250px;
    margin-top:-10px;
    height:100px;
    background-color:#25272a;
    border-radius:10px;
    
}
.search{
  background-color:#345eeb;
  color:white;
}