
$ftbg:#265777;

.container{
   flex:1 ;

}
.loginContainer{
    flex:10;
}
.footer{
    flex:1;
    background-color:$ftbg;
    padding: 0  20px;
    border-width:2px;
    border-color:orange;
    border-style:dotted;
    width:100%
 
}
.footerText{
    color:white;
    font-size: 18;
    text-align: center;
    margin-top: 15px;
}